html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.logo{
    width: auto;
    height: 75px;
}

.add-news-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #888888;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    padding: 12px 24px;
}

.add-news-btn:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
