@using NewsSite.Models.ViewModels
@{
    ViewData["Title"] = "Редактиране на новина";
}
@model NewsVM
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3 rounded">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Редактиране на новина</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post" class="row">
            <div class="row ">
                <div class="col-10">
                    <div class="border p-3">
                        <div class="form-floating py-2 col-12">
                            <label asp-for="Title" class="col-form-label p-lg-2">Заглавие:</label>
                            <input asp-for="Title" type="text" class="form-control border-0 shadow" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="Introduction" class="col-form-label p-lg-2">Въведение:</label>
                            <textarea asp-for="Introduction" class="form-control border-0 shadow"></textarea>
                            <span asp-validation-for="Introduction" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="MainImage" class="col-form-label p-1">Начална Снимка:</label>
                            <input type="file" name="mainImage" class="form-control border-0 shadow" accept="image/*" onchange="previewImage(event,'MainImagePreview')" />
                            <img id="MainImagePreview" src="#" style="display:none; max-width:250px; margin-top:10px;" />
                            <span asp-validation-for="MainImage" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="Description" class="col-form-label p-lg-2">Съдържание:</label>
                            <textarea asp-for="Description" class="form-control border-0 shadow"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <label asp-for="AdditionalImages" class="col-form-label p-1">Допълнителни снимки:</label>
                            <input type="file" name="files" class="form-control border-0 shadow" accept="image/*" onchange="previewImages(event, 'SecondaryImagePreview')" multiple />
                            <div id="SecondaryImagePreview"></div>
                        </div>
                        <div class="form-floating py-3 col-12">
                            <label asp-for="CategoryId" class="form-label">Категории</label>
                            <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-select border-0 shadow">
                                <option disabled selected value="0">Изберете категория</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <button asp-controller="News" asp-action="Edit" type="submit" class="btn btn-primary p-2 rounded-start">Готово</button>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary p-2 rounded-end">Върни се обратно</a>
                    </div>
                </div>
                <div class="col-2">
                    <img src="@Model.MainImage" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
                    @if (Model.AdditionalImages.Any())
                    {
                        @foreach (var img in Model.AdditionalImages)
                        {
                            <img src="@img" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
                        }
                    }
                </div>
            </div>

        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script>
    function previewImage(event, previewElementId) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById(previewElementId);
            output.src = reader.result;
            output.style.display = 'block';
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
<script>
    function previewImages(event, previewContainerId) {
        var files = event.target.files;
        var previewContainer = document.getElementById(previewContainerId);
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            var reader = new FileReader();

            reader.onload = function (e) {
                var img = document.createElement('img');
                img.src = e.target.result;
                img.style.width = '150px';
                img.style.margin = '5px';
                img.style.display = 'block';
                var imageContainer = document.createElement('div');
                imageContainer.appendChild(img);

                previewContainer.appendChild(imageContainer);
            };

            reader.readAsDataURL(file);
        }
    }
</script>