@model List<Category>
@{
    var selectedCategoryId = ViewBag.SelectedCategoryId as int?;
}
<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="categoryId">Изберете категория:</label>
        <select id="categoryId" name="categoryId" class="form-control" onchange="this.form.submit()">
            <option value="">Всички новини</option>
            @foreach (var category in Model)
            {
                var isSelected = category.Id == selectedCategoryId ? "selected" : "";
                <!option value="@category.Id" @(isSelected)>
                    @category.Name
                </!option>
            }
        </select>
    </div>
</form>
