<div class="container">
    <h1 class="text-danger-emphasis">
        :(
    </h1>
    <h2 class="text-danger">За съжаление нямате право да посещавате тази страница!</h2>

    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Върни се обратно</a>
</div>
